/* SUSHI MARU Awesome Website */
#featured img{
	height: 600px;
	width: 980px;
}

input[type="search"] {
	top: 7px;
	margin: 0;
	padding: 0;
	height: 28px;
}

.has-button a:link,
.has-button a:visited {
	padding: 6.5px;
}

.index {
	background: #333;
	font-family: 'Maven Pro', sans-serif;
}

#gmap {
	height: 450px;
	width: 600px;
}

h4 {
	font-family: 'Maven Pro', sans-serif;
	color: white;
}

h1, h5, h6 {
	font-family: 'Maven Pro', sans-serif;
}

footer p {
	color: white;
}

.top-bar-section ul li > a {
	font-family: 'Maven Pro', sans-serif;
}




